<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
</head>
<body>
    <h1>
    <center>
    <form  method="POST">
        {% csrf_token %}

    <label for="un">username  </label><br>
    <input type="username" name="un" id="un"> <br>
    <label for="pw">password  </label><br>
    <input type="password" name="pw" id="pw"> <br>
   
    <input type="submit">
</form>
</center>
</h1>
</body>
</html>